<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.huitdduru">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".di.RumaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HUITDDURU"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name=".MatchActivity"
            android:exported="false" />
        <activity
            android:name=".view.mypage.DiaryActivity"
            android:exported="false" />
        <activity
            android:name=".view.mypage.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.DiaryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.sign.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".view.sign.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.sign.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>